.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 20px;
    transition: background-color .5s ease-in;

    &.black {
        background-color: black;
    }

    .logo-container {
        width: 80px;
        cursor: pointer;
    }

    .avatar-container {
        width: 30px;
        cursor: pointer;
    }
}