.movie-row {
    margin-bottom: 20px;

    h2 {
        margin-inline-start: 20px;
    }

    .row-posters {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px;

        &::-webkit-scrollbar {
            display: none;
        }

        img {
            object-fit: contain;
            max-height: 100px;
            transition: transform 450ms;
            margin-inline-end: 10px;
            cursor: pointer;

            &:hover {
                transform: scale(1.08);
            }
        }
    }

    .large-row {
        img {
            max-height: 250px;

            &:hover {
                transform: scale(1.09);
            }
        }
    }
}